<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Interests </h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <select class="form-control" [(ngModel)]="selectedInterest" (change)="loadData()">
                    <option value="Pending">Pending</option>
                    <option value="Inprogress">Inprogress</option>
                    <option value="Completed">Completed</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
        </div>
        <div class="col-md-9"></div>
        <div class="col-md-12" *ngIf="showDetails">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body"
                            *ngIf="selectedOrder && selectedOrder.staffOrTransportRequest && selectedOrder.Employee">
                            <h4>Assignment Details</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.title}}</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.description}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.Category?.title}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Function</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.function}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cancel Period</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.cancelperiod}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Work date</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.workstartdate}} {{selectedOrder.staffOrTransportRequest.worktime}} - {{selectedOrder.staffOrTransportRequest.workenddate}} {{selectedOrder.staffOrTransportRequest.worktime}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Break</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.fromtime}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contact Person</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.contact}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rate</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.rate}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Time Controller</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.timecontroller}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Freelancers / Temporary worker</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.worktype}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Staff Needed</label>
                                        <div>{{selectedOrder.staffOrTransportRequest.staffneeded}}</div>
                                    </div>
                                </div>

                                <ng-container *ngIf="selectedOrder.staffOrTransportRequest.type == 'transport'">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>From</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.from}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>To</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.to}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Loading/Unloading date</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.loadingdate}} -
                                                {{selectedOrder.staffOrTransportRequest.unloadingdate}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Type Of Goods</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.typeofgoods}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Weight</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.weight}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Length</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.length}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Type Of Vehicle</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.vechicletype}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Packaging</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.packaging}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Certificate</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.certificate}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Equipment</label>
                                            <div>{{selectedOrder.staffOrTransportRequest.equipment}}</div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <h4>Employee Details</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <div>{{selectedOrder.Employee.firstname}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <div>{{selectedOrder.Employee.lastname}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <div>{{selectedOrder.Employee.phone}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Assignment</label>
                                        <div>{{selectedOrder.Employee.assignment}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div>{{selectedOrder.Employee.industry}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Street</label>
                                        <div>{{selectedOrder.Employee.worktype}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Post code</label>
                                        <div>{{selectedOrder.Employee.postcode}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <div>{{selectedOrder.Employee.country}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>BTW-id</label>
                                        <div>{{selectedOrder.Employee.btw}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>BSN</label>
                                        <div>{{selectedOrder.Employee.bsn}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-12" *ngIf="selectedOrder.Employee.EmployeeExperiences">
                                    <h4>Work Experience</h4>
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>#</th>
                                            <th>Description</th>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let desc of selectedOrder.Employee.EmployeeExperiences;let i=index;">
                                                <td>{{i+1}}</td>
                                                <td>{{desc.experience}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <div class="form-group">
                                        <label>Assignment Status</label>
                                        <select class="form-control" [(ngModel)]="assignmentStatus">
                                            <option value="" disabled>Select</option>
                                            <option value="1">Pending</option>
                                            <option value="2">Accept(Inprogress)</option>
                                            <option value="3">Completed</option>
                                            <option value="0">Reject</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-9"></div>
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> # </th>
                                                <th> Date</th>
                                                <th> Hours Worked </th>
                                                <th> Break Hours </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let history of selectedOrder.staffOrTransportRequest?.staffOrTransportWorkingHistories|filterOrderId: searchKey;let i = index;">
                                                <td>{{i+1}}</td>
                                                <td>{{history.date | date: 'dd-MM-yyyy'}}</td>
                                                <td>{{history.hoursWorked}}</td>
                                                <td>{{history.breakhours}}</td>
                                            </tr>
                                            <tr *ngIf="dataLists.length==0">
                                                <td colspan="6" class="text-center">No records found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <button class="btn btn-gradient-primary" (click)="submitOrder()">Update</button>
                                    <button class="btn btn-gradient-info ml-2" (click)="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search Order Id"
                                    [(ngModel)]="searchKey">
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Order Id</th>
                                <th> Title </th>
                                <th> Rate </th>
                                <th> Status </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataLists|filterOrderId: searchKey;let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{data?.staffOrTransportRequest?.id}}</td>
                                <td>{{data?.staffOrTransportRequest?.title}}</td>
                                <td>{{data?.staffOrTransportRequest?.rate}}</td>
                                <td [innerHtml]="getStatus(data)"></td>
                                <td><i class="fa fa-eye ml-3" (click)="viewDetails(data)"></i>
                                </td>
                            </tr>
                            <tr *ngIf="dataLists.length==0">
                                <td colspan="6" class="text-center">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>