.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: 0px;
    background-color: #f2f2f2;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ed1c24;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ed1c24;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.image-preview{
    width: 100px;
    height: 100px;
}


.japp-search-rstlt .drop ul {
	position: relative;
	padding: 0px 0px;
	/* background-color: #ff0000; */
	display: block;
	width: 100%;
	list-style-type: none;
	z-index: 9;
	font-size: 16px;
	color: #000;
    border: 1px solid #80bdff;
    border-top: none;
	/* background-color: var(--lightblack); */
	/* border-radius: 10px; */
	/* border-top-left-radius: 0px; */
	/* border-top-right-radius: 0px; */
}
.japp-search-rstlt .drop ul li { padding: 12px 0px;}
.japp-search-rstlt .drop ul li a {
	display: grid;
	grid-template-columns: 20px 1fr;
	width: 100%;
	font-size: 12px;
	grid-gap: 6px;
}
.japp-search-rstlt .drop ul li.active {   background: var(--primary); color: #fff;}
.japp-db-tab-frm label {
	position: absolute;
	top: -8px;
	left: 10px;
	background-color: #fff;
	color: var(--primary);
	font-size: 13px;
	padding: 0px 5px;
}